/* Global background image */
body {
  font-weight: bold;
  background-image: url("/student-portfolio/images/galaxy.jpg");
  background-size: cover;       /* Fill the page */
  background-repeat: no-repeat; /* Don’t tile */
  background-attachment: fixed; /* Stays fixed when scrolling */
  background-position: center;  /* Center the image */
}